:root {
  --FF-primary: 'Poppins', sans-serif;
  --CL-neutral-black: #000;
  --CL-neutral-white: #fff;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--FF-primary);
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}
