@tailwind base;
@tailwind components;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav {
  border: 1px solid black;
  padding: 1em 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.nav-image {
  max-width: 50px;
}

.nav-title {
  font-size: 1.25rem;
}

.nav-list {
  text-align: center;
  padding: 0;
  list-style-type: none;
}

.nav-item {
  margin: 1em 0;
}

.nav-item.separator {
  display: none;
}

.nav-link {
  text-decoration: none;
}

.nav-link.active {
  text-decoration: underline;
}

.img {
  height: 160px;
  width: 200px;
}

@media (min-width: 768px) {
  .logo {
    justify-content: flex-start;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 1.5em;
  }

  .nav-item.separator {
    display: inline;
  }
}

@tailwind utilities;